<html>
  	<head>
		<title>Avaliação - Primeiro Trimestre</title>
		<meta charset="UTF-8">
		<link href="estilos.css" rel="stylesheet" type="text/css">
	</head>
  	<body>
        <p>Servidor cadastrado com sucesso!!!!</p>
        <a href="/">Voltar para o Menu</a>
    </body>
</html>